.main-input input {
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.3), 0 4px 15px 0 rgba(0,0,0,.3);
}

/* Search result list */

.search-result-list {
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 350px;
  overflow-y: scroll;
}

/* Additional buttons */
.table-buttons {
  margin-bottom: 40px;
}
