.main-input input {
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.3), 0 4px 15px 0 rgba(0,0,0,.3);
}

/* Search result list */

.search-result-list {
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 350px;
  overflow-y: scroll;
}

/* Additional buttons */
.table-buttons {
  margin-bottom: 40px;
}

/* News  */
.news-item {
  position: relative;
}

.news-item.upper {
  height: 522px;
  padding-top: 8px;
}

.news-item.mid {
  margin-top: 270px;
  height: 570px;
}

.news-item .upper-right img {
  bottom: 0;
  position: absolute;
}

.news-item .upper-left img {
  top: 90px;
  position: absolute;
}

.news-item .mid-left img {
  top: 113px;
  position: absolute;
}

.text-block .text-block-link {
  font-size: 14px;
  font-weight: 400;
  width: 150px;
  height: 40px;
  border-radius: 25px;
  background-color: #35acdf;
}

.text-block h2 {
  line-height: 40px;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 21px;
}

.text-block p {
  margin: 0;
  line-height: 30px;
  font-size: 30px;
  font-weight: 400;
}
.text-block p:first-of-type {
  margin-bottom: 5px;
}

.text-block span {
  font-size: 16px;
  font-weight: 400;
  margin: 21px 0;
}
.text-block .text-block-link:hover {
  background-color: #2e96c2
}

.news-item .mid-right .text-block {
  margin-top: 240px;
  text-align: right;
  color: #fff;
}

.text-block span {
  display: block;
}