#search-bg {
    background: url('../img/xl/pattern.png') repeat;
    background-size: 540px 480px;
    min-height: 100vh;
}

.search-container {
    margin-top: 30vh;
}

.news-container {
    background: url('../img/xl/bg.png') no-repeat;
    margin-top: -20px;
    height: 2427px;
}

/* Large screens */
@media screen and (max-width: 1024px) {
    #search-bg {
        background: url('../img/lg/pattern.png') repeat;
        background-size: 432px 384px;
    }

    .news-container {
        background: url('../img/lg/bg.png') no-repeat;
        height: 1758px;
    }
}